<form
  [formGroup]="pollForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-5"
>
  <div class="flex flex-col gap-3">
    <div>
      <label for="title">Título</label>
      <input
        id="title"
        formControlName="title"
        pInputText
        class="w-full"
        placeholder="Digite o título da enquete"
      />
    </div>

    <div>
      <label for="description">Descrição</label>
      <textarea
        id="description"
        formControlName="description"
        rows="3"
        pInputTextarea
        class="w-full"
        placeholder="Descrição da enquete"
      ></textarea>
    </div>

    <div>
      <label for="startDate">Início</label>
      <p-datepicker
        id="startDate"
        formControlName="startDate"
        dateFormat="dd/mm/yy"
        [showButtonBar]="true"
        [fluid]="true"
        [showTime]="true"
      />
    </div>

    <div>
      <label for="endDate">Fim</label>
      <p-datepicker
        id="endDate"
        formControlName="endDate"
        [showButtonBar]="true"
        dateFormat="dd/mm/yy"
        [fluid]="true"
        [showTime]="true"
      />
    </div>
  </div>

  <p-button
    [label]="(pollData ? 'Atualizar' : 'Criar') + ' Enquete'"
    type="submit"
    [loading]="loading"
    styleClass="w-full"
  ></p-button>

  <p-button
    label="Cancelar"
    type="button"
    severity="secondary"
    (onClick)="cancel()"
    styleClass="w-full"
  ></p-button>
</form>
