<section name="index" class="app-container my-auto pb-20">
  <app-logo></app-logo>

  <p-selectbutton
    [options]="stateOptions"
    [(ngModel)]="value"
    optionLabel="label"
    optionValue="value"
    aria-labelledby="basic"
    class="mb-2"
    [allowEmpty]="false"
    [disabled]="!loggedIn"
  />

  <p-card [style]="{ width: '100%' }" class="bg-white">
    @if (value === "polls") {
    <div class="search-bar">
      <input
        type="text"
        pInputText
        placeholder="Buscar por..."
        class="fluid w-full"
        [(ngModel)]="searchTerm"
      />
      @if (searchTerm) {
      <p-button
        icon="pi pi-times"
        severity="secondary"
        aria-label="Cancelar busca"
        (onClick)="setSearchTerm('')"
      />
      }
      <p-button
        icon="pi pi-search"
        aria-label="Buscar"
        (onClick)="setSearchTerm(searchTerm)"
      />
    </div>

    <app-polls></app-polls>

    <div class="my-1"></div>

    <p-button
      [fluid]="true"
      label="Criar nova enquete"
      icon="pi pi-plus"
      (onClick)="newPoll()"
    />
    } @else {
    <app-login-form (loggedIn)="loggedIn = $event"></app-login-form>
    }
  </p-card>
</section>
